[SddmGreeterTheme]
Name=sddm-rosepinemoon
Description=Rose Pine Moon theme based on Noctalia Shell lock screen
Author=cookiemonsternz
Website=https://github.com/sddm/sddm
License=GPL-3.0-or-later
Type=sddm-theme
Version=0.1
ConfigFile=theme.conf
Screenshot=Previews/astronaut.png
MainScript=Main.qml
Theme-Id=rosepinemoon
Theme-API=2.0
QtVersion=6